---
import Layout from "../layouts/Layout.astro";
import Slider from "../components/slider.astro";
import Hero from "../components/home/Hero.astro";
import Services from "../components/home/Services.astro";
import Cta from "../components/pricing/Cta.astro";
import About from "../components/home/About.astro";
import ImageSlider from "../components/home/HeroSlider.astro";
---

<Layout title="Digital Artist">
  <!-- <Intro /> -->
  <Hero />
  <Services />
  <Slider />
  <ImageSlider />
  <About />

  <!-- <div class="flex justify-center text-3xl font-bold text-center">
    <h2>Instagram/TikTok video</h2>
  </div>
  <div class="flex justify-center overflow-x-hidden">
    <SmallSlider />
  </div> -->
  <!-- <div class="flex justify-center text-3xl font-bold text-center">
    <h2>Sazinies ar mums</h2>
  </div> -->
  <!-- <div class="flex justify-center">
    <Form client:visible />
  </div> -->
  <Cta />
</Layout>
