---
import testImage from "../assets/test_image.jpg";
---

<section class="container mb-40">
  <div id="slider">
    <div class="item" style="background-image: url(../assets/test_image.jpg);">
      <div class="name">EMILS</div>
      <div class="des">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde
        asperiores tenetur non placeat officiis dolor adipisci. Corrupti eos
        facilis eaque recusandae culpa nobis quod at aspernatur. Itaque sed
        saepe officiis?s
      </div>
    </div>
  </div>
</section>
