---
// import testImage from "../assets/test_image.jpg";
import SliderItem from "./sliderItem.astro";
import ApImg from "../assets/image_apartment.jpeg";
import Ap2Img from "../assets/image_apartment2.jpeg";
import KdImg from "../assets/image_kindergarten.jpeg";
import PcImg from "../assets/image_podcast.jpeg";

import { Icon } from "astro-icon/components";
---

<section class="py-24 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-12 sm:gap-16">
      <h2
        class="text-3xl font-medium tracking-tight sm:text-4xl"
        data-aos="fade-up"
      >
        Mūsu Darbi
      </h2>
      <div class="" data-aos="fade-up">
        <!-- overflow-x-hidden -->
        <section class="p-0 xs:p-10 relative" id="container">
          <div
            id="slider"
            class="relative w-full h-[197px] sm:h-[337px] md:h-[371px] lg:h-[506px] xl:h-[618px] [&>*:nth-child(3)]:md:block [&>*:nth-child(3)]:hidden [&>*:nth-child(4)]:md:block [&>*:nth-child(4)]:hidden"
          >
            <SliderItem
              image={ApImg}
              title="Dzīvokļa tūre"
              description="Dzīvokļa tūre ar pielāgotā grafikām"
            />
            <SliderItem
              image={KdImg}
              title="Bērnudārza reklāma"
              description="Video reklāma bernudārzam"
            />
            <SliderItem
              image={PcImg}
              title="Podcast rullītis"
              description="Podcast video rullītis"
            />
            <SliderItem
              image={Ap2Img}
              title="3D dzīvoklis"
              description="Dzivoklis veidots ar Blender un Unreal Engine"
            />
          </div>
          <div class="slider-buttons relative">
            <div class="relative bottom-9 w-full text-center z-[222222]">
              <button id="prev" class=""
                ><Icon
                  name="material-symbols-light:arrow-circle-left-rounded"
                  class="text-primary-600 dark:text-primary-300 w-16 h-16"
                /></button
              >
              <button id="next" class=""
                ><Icon
                  name="material-symbols-light:arrow-circle-right-rounded"
                  class="text-primary-600 dark:text-primary-300 w-16 h-16"
                /></button
              >
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>

<style is:global>
  .slider-item:nth-child(1),
  .slider-item:nth-child(2) {
    left: 0;
    top: 0;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
    box-shadow: none;
  }

  .slider-item:nth-child(2) .video-content:before {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.143);
    border-radius: 1rem;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }

  .slider-item:nth-child(3) {
    left: 55%;
  }

  .slider-item:nth-child(n + 4) {
    left: calc(55% + 320px);
  }

  /* .slider-item:nth-child(5) {
    left: calc(55% + 540px);
    opacity: 0;
  }

  .slider-item:nth-child(n + 6) {
    left: calc(50% + 760px);
    opacity: 0;
  } */

  .slider-item:nth-child(2) .slider-item-content {
    display: block;
    z-index: 11111;
  }

  .slider-item-content h3 {
    opacity: 0;
    animation: showcontent 0.6s ease-in-out 1 forwards;
  }

  .slider-item-content p {
    opacity: 0;
    animation: showcontent 0.6s ease-in-out 0.1s 1 forwards;
  }

  .slider-item-content a {
    opacity: 0;
    animation: showcontent 0.6s ease-in-out 0.3s 1 forwards;
  }

  @keyframes showcontent {
    from {
      opacity: 0;
      transform: translate(0, 100px);
      filter: blur(33px);
    }
    to {
      opacity: 1;
      transform: translate(0, 0);
      filter: blur(0);
    }
  }
</style>

<script>
  function handleSliderClick() {
    if (document.getElementById("next")) {
      document.getElementById("next").onclick = function () {
        let lists = document.querySelectorAll(".slider-item");
        document.getElementById("slider").appendChild(lists[0]);
      };
    }

    if (document.getElementById("prev")) {
      document.getElementById("prev").onclick = function () {
        let lists = document.querySelectorAll(".slider-item");
        document.getElementById("slider").prepend(lists[lists.length - 1]);
      };
    }
  }

  document.addEventListener("astro:page-load", () => {
    handleSliderClick();
  });

  document.addEventListener("astro:after-swap", () => {
    handleSliderClick();
  });
</script>
